<p-toolbar styleClass="p-toolbar p-component mb-0 py-2">
    <h3 class="m-0 flex align-items-center">Vehículos</h3>
</p-toolbar>


<div class="card mt-4   ">
    <p-table [scrollable]="true" scrollHeight="400px" styleClass="mt-4">


        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Agregar" icon="pi pi-plus" (click)="openDialogVehicle()"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Buscar..." />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Color</th>
                <th>Propietario</th>
                <th>Compañia</th>
                <th>Chofer</th>
            </tr>
        </ng-template>
        <ng-template #body>
            <tr>

                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No existen registros.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="6">No existen registros</td>
            </tr>
        </ng-template>
    </p-table>
</div>



<p-dialog header="Agregar Vehículo" [(visible)]="dialogVehicle" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '30vw' }" [modal]="true" [draggable]="false" [resizable]="false" (onhide)="closeDialogVehicle()">
    
    <form class="p-fluid">

        <div class="flex flex-col gap-4">
            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="placa" class="text-sm">Placa</label>
                    <input pInputText id="placa" type="text" class="w-full" autocomplete="off" />
                </div>
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="marca" class="text-sm">Marca</label>
                    <input pInputText id="marca" type="text" class="w-full" autocomplete="off" />
                </div>
            </div>

            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="color" class="text-sm">Color</label>
                    <input pInputText id="color" type="text" class="w-full" autocomplete="off" />
                </div>
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="compania" class="text-sm">Compañía</label>
                    <p-dropdown id="compania" optionLabel="nombreCompañia" placeholder="Seleccione la compañía"
                        [showClear]="true" [appendTo]="'body'" [filter]="true" filterPlaceholder="Buscar compañía"
                        class="w-full">
                    </p-dropdown>
                </div>
            </div>


            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="compania" class="text-sm">Propietario</label>
                    <p-dropdown id="propietario" optionLabel="propietario" placeholder="Seleccione el propietario"
                        [showClear]="true" [appendTo]="'body'" [filter]="true" filterPlaceholder="Buscar propietario"
                        class="w-full">
                    </p-dropdown>
                </div>

                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="Chofer" class="text-sm">Chofer por Defecto</label>
                    <p-dropdown id="chofer" optionLabel="chofer" placeholder="Seleccione el chofer"
                        [showClear]="true" [appendTo]="'body'" [filter]="true" filterPlaceholder="Buscar chofer"
                        class="w-full">
                    </p-dropdown>
                </div>

            </div>

        </div>

        <div class="flex justify-end mt-4">
            <button pButton label="Cancelar" icon="pi pi-times" (click)="closeDialogVehicle()"
                class="p-button-secondary mr-2"></button>

            <button pButton label="Registrar" icon="pi pi-save" type="submit" 
                    class="p-button-primary"></button>
        </div>
    </form>
</p-dialog>