<p-toast></p-toast>
<p-toolbar styleClass="p-toolbar p-component mb-0 py-2">
    <h3 class="m-0 flex align-items-center">Vehículos</h3>
</p-toolbar>

<div class="card mt-4">
    <p-table [scrollable]="true" scrollHeight="550px" styleClass="mt-4 w-full" [value]="vehicles()" [loading]="isLoading()">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row gap-3">
                <button pButton label="Agregar" icon="pi pi-plus" (click)="openDialogVehicle()"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 180px">Placa</th>
                <th style="min-width: 180px">Marca</th>
                <th style="min-width: 180px">Color</th>
                <th style="min-width: 180px">Compañia</th>
                <th style="min-width: 180px">Propietario</th>
                <th style="min-width: 180px">Conductor</th>
                <th style="min-width: 120px">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-vehicle>
            <tr>
                <td>{{ vehicle.plate }}</td>
                <td>{{ vehicle?.brand || 'No registra' }}</td>
                <td>{{ vehicle?.color || 'No registra' }}</td>
                <td>{{ vehicle.company?.subject?.name || 'No registra' }}</td>
                <td>{{ vehicle.owner?.subject?.name || 'No registra' }}</td>
                <td>{{ vehicle.defaultDriver?.name || 'No asignado' }}</td>
                <td class="text-center">
                    <p-button label="Opciones" severity="secondary" icon="pi pi-angle-down" iconPos="right" (click)="toggleMenu($event, vehicle)" class="p-button-text p-button-ro" />
                    <p-menu #menu [popup]="true" [model]="menuItems" [appendTo]="'body'"></p-menu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No existen registros.</td>
            </tr>
        </ng-template>
    </p-table>
    <mat-paginator [length]="pagination().totalRecords" [pageSize]="pageSize()" [pageIndex]="pagination().currentPage - 1" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page"> </mat-paginator>
</div>

<p-dialog [header]="editMode ? 'Editar Vehículo' : 'Agregar Vehículo'" [(visible)]="dialogVehicle" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true" [draggable]="false" [resizable]="false" (onhide)="closeDialogVehicle()">
    <form class="p-fluid" [formGroup]="formVehicle" (ngSubmit)="onSubmitVehicle()">
        <div class="flex flex-col gap-4">
            <div class="flex flex-wrap gap-4">
                <!-- 1. Placa -->
                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="plate" class="text-sm">Placa</label>
                    <input pInputText id="plate" type="text" class="w-full" autocomplete="off" formControlName="plate" />
                </div>

                <!-- 2. Propietario -->
                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="owner" class="text-sm">Propietario</label>
                    <p-select
                        id="owner"
                        [options]="owners()"
                        optionLabel="subject.name"
                        formControlName="ownerId"
                        [optionValue]="'id'"
                        placeholder="Seleccione el propietario"
                        [showClear]="true"
                        [appendTo]="'body'"
                        [filter]="true"
                        filterPlaceholder="Buscar propietario"
                        [loading]="isLoading()"
                        class="w-full custom-select"
                    >
                        <ng-template pTemplate="empty">
                            <div class="p-2">
                                {{ isLoading() ? 'Cargando propietarios...' : 'No se encontraron propietarios' }}
                            </div>
                        </ng-template>
                    </p-select>
                </div>
            </div>

            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="marca" class="text-sm">Marca</label>
                    <input pInputText id="marca" type="text" class="w-full" autocomplete="off" formControlName="brand" />
                </div>

                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="model" class="text-sm">Modelo</label>
                    <input pInputText id="model" type="text" class="w-full" autocomplete="off" formControlName="model" />
                </div>
            </div>

            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="year" class="text-sm">Año</label>
                    <input pInputText id="year" type="text" class="w-full" autocomplete="off" formControlName="year" />
                </div>

                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="color" class="text-sm">Color</label>
                    <input pInputText id="color" type="text" class="w-full" autocomplete="off" formControlName="color" />
                </div>
            </div>

            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="compania" class="text-sm">Compañía</label>
                    <p-select
                        id="compania"
                        [options]="companies()"
                        optionLabel="subject.name"
                        formControlName="companyId"
                        [optionValue]="'id'"
                        placeholder="Seleccione la compañía"
                        [showClear]="true"
                        [appendTo]="'body'"
                        [filter]="true"
                        filterPlaceholder="Buscar compañía"
                        [loading]="isLoading()"
                        scrollHeight="150px"
                        class="w-full"
                    >
                        <ng-template pTemplate="empty">
                            <div class="p-2">No existe la compañia.</div>
                        </ng-template>
                    </p-select>
                </div>

                <div class="flex flex-col grow basis-0 gap-1 min-w-0">
                    <label for="defaultDriver" class="text-sm">Conductor por defecto</label>
                    <p-select
                        id="defaultDriver"
                        [options]="drivers()"
                        optionLabel="name"
                        formControlName="defaultDriverId"
                        [optionValue]="'id'"
                        placeholder="Seleccione el conductor"
                        [showClear]="true"
                        [appendTo]="'body'"
                        [filter]="true"
                        filterPlaceholder="Buscar conductor"
                        [loading]="isLoading()"
                        class="w-full custom-select"
                    >
                        <ng-template pTemplate="empty">
                            <div class="p-2">
                                {{ isLoading() ? 'Cargando conductores...' : 'No se encontraron conductores' }}
                            </div>
                        </ng-template>
                    </p-select>
                </div>
            </div>
        </div>

        <div class="flex justify-end mt-4">
            <button pButton [label]="editMode ? 'Actualizar' : 'Registrar'" icon="pi pi-save" type="submit" class="p-button-primary"></button>
        </div>
    </form>
</p-dialog>

<p-dialog header="Cambiar Propietario" [(visible)]="dialogUpdateOwner" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '30vw' }" [modal]="true" [draggable]="false" [resizable]="false" (onhide)="closeDialogUpdateOwner()">
    <form class="p-fluid" [formGroup]="formUpdateOwner" (ngSubmit)="onUpdateOwner()">
        <div class="flex flex-col gap-4">
            <!-- Propietario actual -->
            <div class="flex flex-col gap-1">
                <label class="text-sm">Propietario Actual</label>
                <input pInputText [value]="currentOwnerName" readonly class="w-full" />
            </div>

            <!-- Selector de nuevo propietario -->
            <div class="flex flex-col gap-1">
                <label for="owner" class="text-sm">Nuevo Propietario</label>
                <p-dropdown
                    id="owner"
                    [options]="owners()"
                    optionLabel="subject.name"
                    formControlName="ownerId"
                    [optionValue]="'id'"
                    placeholder="Seleccione el propietario"
                    [showClear]="true"
                    [appendTo]="'body'"
                    [filter]="true"
                    filterPlaceholder="Buscar propietario"
                    [loading]="isLoading()"
                    class="w-full"
                >
                    <ng-template pTemplate="empty">
                        <div class="p-2">
                            {{ isLoading() ? 'Cargando propietarios...' : 'No se encontraron propietarios' }}
                        </div>
                    </ng-template>
                </p-dropdown>
                <small *ngIf="formUpdateOwner.get('ownerId')?.touched && formUpdateOwner.get('ownerId')?.errors?.['required']" class="p-error"> El propietario es requerido </small>
            </div>
        </div>

        <div class="flex justify-end mt-4">
            <button pButton label="Actualizar" icon="pi pi-save" type="submit" class="p-button-primary"></button>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="dialogDeleteVehicle" [modal]="true" [closable]="false" [style]="{ width: '100%', maxWidth: '400px' }" header="Confirmación requerida">
    <div class="border-l-4 border-yellow-500 bg-yellow-50 p-4 rounded">
        <div class="flex items-start gap-3">
            <i class="pi pi-exclamation-circle text-yellow-600 text-2xl mt-1"></i>
            <div>
                <p class="text-sm text-gray-800 leading-relaxed">
                    Estás a punto de eliminar este Vehículo con placa
                    <span class="font-semibold text-red-600">{{ vehicleToDelete?.plate }}</span
                    >. Esta acción no se puede deshacer. ¿Deseas continuar?
                </p>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 pt-3">
            <button pButton label="Cancelar" class="p-button-secondary p-button-sm" (click)="dialogDeleteVehicle = false"></button>
            <button pButton label="Eliminar" icon="pi pi-trash" class="p-button-sm p-button-danger" (click)="deleteVehicle()" [disabled]="isDeleting"></button>
        </div>
    </ng-template>
</p-dialog>
