<p-toast></p-toast>
<p-toolbar styleClass="p-toolbar p-component mb-0 py-2">
    <h3 class="m-0 flex align-items-center">Compañias</h3>
</p-toolbar>

<div class="card mt-4 w-full">
    <p-table [scrollable]="true" scrollHeight="550px" scrollDirection="both" styleClass="mt-4 w-full" [value]="companies()" [loading]="isLoading()">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row gap-3">
                <button pButton label="Agregar" icon="pi pi-plus" (click)="openDialogCompany()"></button>

                <div class="flex-1 flex justify-center">
                    <p-selectbutton [options]="typeCompany" optionLabel="name" optionValue="value" [(ngModel)]="selectedType" (onChange)="onTypeChange($event)"> </p-selectbutton>
                </div>

                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" placeholder="Buscar..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
                </p-iconfield>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="min-width: 180px">Razón Social</th>
                <th style="min-width: 140px">Tipo Empresa</th>
                <th style="min-width: 140px">Tipo Identificación</th>
                <th style="min-width: 180px">Nro. Identificación</th>
                <th style="min-width: 250px">Dirección</th>
                <th style="min-width: 150px">Teléfono</th>
                <th style="min-width: 220px">Email</th>
                <th style="min-width: 120px">Acciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-company>
            <tr>
                <td>{{ company.subject.name }}</td>
                <td>
                    {{ company.type === 'both' ? 'Cli/Transp' : company.type === 'client' ? 'Cliente' : company.type === 'carrier' ? 'Transportista' : company.type || 'No registra' }}
                </td>
                <td>
                    {{ company.subject.identificationType === 'dni' ? 'Cédula' : (company.subject.identificationType | titlecase) }}
                </td>
                <td>{{ company.subject.identification || 'No registra' }}</td>
                <td>{{ company.subject.address || 'No registra' }}</td>
                <td>{{ company.subject.phone || 'No registra' }}</td>
                <td>{{ company.subject.email || 'No registra' }}</td>
                <td class="text-center">
                    <button pButton pRipple type="button" icon="pi pi-pencil" (click)="openDialogCompany(company)" class="p-danger- mb-2 mr-2"></button>
                    <button pButton pRipple type="button" icon="pi pi-trash" (click)="confirmDisableCompany(company)" class="p-button-danger mb-2 mr-2"></button>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No existen registros.</td>
            </tr>
        </ng-template>
    </p-table>

    <mat-paginator [length]="pagination().totalRecords" [pageSize]="pageSize()" [pageIndex]="pagination().currentPage - 1" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page"> </mat-paginator>
</div>

<p-dialog [header]="editMode ? 'Editar Compañía' : 'Agregar Compañía'" [(visible)]="dialogCompany" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '40vw' }" [modal]="true" [draggable]="false" [resizable]="false">
    <form class="p-fluid" [formGroup]="registerFormCompany" (ngSubmit)="onSubmitCompany()">
        <div class="flex flex-col gap-4">
            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="identificacion" class="text-sm">Identificación</label>
                    <div class="flex gap-2">
                        <input pInputText id="identificacion" type="text" class="w-full" autocomplete="off" formControlName="identification" maxlength="13" (keypress)="onKeyPressIdentificacion($event)" />
                        <button pButton type="button" icon="pi pi-search" class="p-button-primary74m" (click)="buscarIdentificacion()" [disabled]="editMode" pTooltip="Buscar" tooltipPosition="top"></button>
                        <button pButton type="button" icon="pi pi-times" class="p-button-danger" (click)="limpiarIdentificacion()" [disabled]="editMode" pTooltip="Limpiar" tooltipPosition="top"></button>
                    </div>
                </div>

                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="compania" class="text-sm">Tipo De Compañia</label>
                    <p-dropdown id="companyType" [options]="companyTypes" optionLabel="label" optionValue="value" placeholder="Seleccione el tipo" formControlName="type" [showClear]="true" [appendTo]="'body'" class="w-full"> </p-dropdown>
                </div>

                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="compania" class="text-sm">Tipo Identificación</label>
                    <p-dropdown
                        id="identificationTypes"
                        [options]="identificationTypes"
                        optionLabel="label"
                        optionValue="value"
                        placeholder="Seleccione el tipo"
                        formControlName="identificationType"
                        [showClear]="true"
                        [appendTo]="'body'"
                        class="w-full"
                    >
                    </p-dropdown>
                </div>
            </div>

            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="nombre" class="text-sm">Nombre</label>
                    <input pInputText id="nombre" type="text" class="w-full" autocomplete="off" formControlName="name" />
                </div>
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="direccion" class="text-sm">Dirección</label>
                    <input pInputText id="direccion" type="text" class="w-full" autocomplete="off" formControlName="address" />
                </div>
            </div>

            <div class="flex flex-wrap gap-4">
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="telefono" class="text-sm">Teléfono</label>
                    <input pInputText id="telefono" type="text" class="w-full" autocomplete="off" maxlength="13" formControlName="phone" />
                </div>
                <div class="flex flex-col grow basis-0 gap-1">
                    <label for="email" class="text-sm">Email</label>
                    <input pInputText id="email" type="text" class="w-full" autocomplete="off" formControlName="email" />
                </div>
            </div>
        </div>
        <div class="flex justify-end mt-4">
            <button pButton [label]="editMode ? 'Actualizar' : 'Registrar'" icon="pi pi-save" type="submit" class="p-button-primary" [disabled]="isSubmitted"></button>
        </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="dialogDisableCompany" [modal]="true" [closable]="false" [style]="{ width: '100%', maxWidth: '400px' }" header="Confirmación requerida">
    <div class="border-l-4 border-yellow-500 bg-yellow-50 p-4 rounded">
        <div class="flex items-start gap-3">
            <i class="pi pi-exclamation-circle text-yellow-600 text-2xl mt-1"></i>
            <div>
                <p class="text-sm text-gray-800 leading-relaxed">
                    Estás a punto de deshabilitar la compañía:
                    <span class="font-semibold text-black-400">{{ companyToDisable?.subject?.name }}</span
                    >. ¿Deseas continuar?
                </p>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 pt-3">
            <p-button label="Cancelar" variant="text" severity="secondary" (click)="dialogDisableCompany = false" [disabled]="isDisabling()"/>
            <p-button label="Deshabilitar" variant="text" severity="danger" (click)="disableCompany()" [disabled]="isDisabling()" />
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="dialogEnableCompany" [modal]="true" [closable]="false" [style]="{ width: '100%', maxWidth: '400px' }" header="Confirmar habilitación">
    <div class="border-l-4 border-blue-500 bg-blue-50 p-4 rounded">
        <div class="flex items-start gap-3">
            <i class="pi pi-info-circle text-blue-600 text-2xl mt-1"></i>
            <div>
                <p class="text-sm text-gray-800 leading-relaxed">
                    la compañia <span class="font-semibold text-black-400">{{ companyToEnable?.subject?.name }}</span> está actualmente deshabilitada. ¿Deseas habilitarla nuevamente?
                </p>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="flex justify-end gap-2 pt-3">
            <p-button label="Cancelar" variant="text" severity="secondary" (click)="dialogEnableCompany = false" />
            <p-button label="Habilitar" variant="text" severity="success" (click)="enableCompany()" [disabled]="isDisabling()" />
        </div>
    </ng-template>
</p-dialog>
