.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td,
::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}